@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  
  --theme-white: #f2f2f2;
  --theme-black: #1a1a1a;

  --light-theme: #eee;
  --dark-theme: #333333;

  --light-between: #b8b8b8;
  --dark-between: #474747;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-theme-white: var(--theme-white);
  --color-theme-black: var(--theme-black);
  
  --color-light-theme: var(--light-theme);
  --color-dark-theme: var(--dark-theme);

  
  --color-light-between: var(--light-between);
  --color-dark-between: var(--dark-between);
}

body {
  background: var(--light-theme);
  color: var(--theme-black);
  font-family: Arial, Helvetica, sans-serif;
}
